fastapi
uvicorn[standard]
streamlit
python-multipart
pytesseract
PyMuPDF
sentence-transformers
phonenumbers
REQ
pillow
pytest
requests
httpx
transformers
sentencepiece
torch
spacy
dateparser
numpy
scikit-learn
python-Levenshtein
rapidfuzz